<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="_list">
    <div class="form-container bg-light">
        <div id="comments-list">
<!--            댓글 목록 영역 설정-->
            <div th:each="commentDto : ${commentDtos}">
<!--                댓글 카드 만들고 id 부여-->
                <div class="card m-2" th:id="'comments-' + ${commentDto.id}">
<!--                    댓글 헤더 영역 설정-->
                    <div class="card-header">
<!--                        닉네임 보여주기-->
                        <p th:text="${commentDto.nickname}">Nickname</p>
                    </div>
                    <div class="card-body">
<!--                        댓글 본문 보여주기-->
                        <p th:text="${commentDto.body}">Comment Body</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>