<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="_new">
    <div class="form-container bg-light">
        <div class="card m-2" id="comments-new">
            <div class="card-body">
                <form>
                    <!--닉네임 입력-->
                    <div class="md-3">
                        <label class="form-label">닉네임</label>
                        <input type="text" class="form-control" id="new-comment-nickname">
                    </div>
                    <!--댓글 본문 입력-->
                    <div class="mb-3">
                        <label class="form-label">댓글 내용</label>
                        <textarea class="form-control" rows="3" id="new-comment-body"></textarea>
                    </div>
                    <!--히든 인풋-->
                    <div th:if="${article}">
                        <input type="hidden" id="new-comment-article-id" th:value="${id}">
                    </div>
                    <!--전송버튼-->
                    <button type="submit" class="btn btn-primary" id="comment-create-btn">댓글 작성</button>
                </form>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
            const commentCreateBtn = document.querySelector("#comment-create-btn");
            if (commentCreateBtn) {
                commentCreateBtn.addEventListener("click", function() {
                    const comment = {
                        nickname: document.querySelector("#new-comment-nickname").value,
                        body: document.querySelector("#new-comment-body").value,
                        articleId: document.querySelector("#new-comment-article-id").value
                    };
                    // 댓글 객체 출력
                    console.log(comment);
                    // fetch() - 비동기 통신을 위한 API
                    const url = "/api/articles/" + comment.articleId + "/comments";
                    fetch(url, {
                        method: "POST",  // POST 요청
                        headers: {
                            "Content-Type": "application/json" // 전송 본문의 데이터 타입(JSON) 정보
                        },
                        body: JSON.stringify(comment) // comment 객체를 JSON 문자열로 변환해 전송
                    }).then(response => {
                        // HTTP 응답 코드에 따른 메시지 출력
                        const msg = (response.ok) ? "댓글이 등록됐습니다." : "댓글 등록 실패..!";
                        alert(msg);
                        // 현재 페이지 새로 고침
                        window.location.reload();
                    });
                    console.log(comment);
           });
            } else {
                console.error("댓글 생성 버튼이 존재하지 않습니다.");
            }
        });

        </script>
    </div>
</div>